{% extends 'base.html' %}
{% block title %}Teacher per courses {% endblock %}
{% block content %}
    <div class="row">
        {% for teacher in get_all_teachers  %}
            <div class="card" style="width: 18rem; margin-right: 20px">
                <img src="#" class="card-img-top" alt="Poza">
                <div class="card-body">
                    <h5 class="card-title"> {{ teacher.first_name }} {{ teacher.last_name }} </h5>
                    <p class="card-text"> Specialization: {{ teacher.specialization }} </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}