{% extends 'base.html' %}
{% block title %} Delete student {% endblock %}
{% block content %}
    <p> Are you sure you want to delete {{ student.first_name }} {{ student.last_name }} ?</p>
    <form method="POST" onsubmit="return confirm('Are you sure?')">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Yes</button>
        <a href="{% url 'list-of-students' %}" class="btn btn-secondary">No</a>
    </form>

{% endblock %}