{% extends 'base.html' %}
{% block title %} List of students {% endblock %}

{% block content %}
    <form method="get">
    {{ my_filter.form }}
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th> First name </th>
            <th> Last name </th>
            <th> Age </th>
            <th> Birth date </th>
            <th> Teacher </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for student in all_students %}
            <tr>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.date_of_birth }}</td>
            <td>{{ student.teacher.first_name }} {{ student.teacher.last_name }}</td>
            <td>
                <a href="{% url 'update-student' student.id %}" class="btn btn-success btn-sm">Update</a>
                <a href="{% url 'delete-student' student.id %}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'detail-student' student.id %}" class="btn btn-secondary btn-sm">More details</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}