{% extends 'base.html' %}
{% block title %} List of cars {% endblock %}
{% block content %}
    <h1>List of cars</h1>
    {% for car in dream_cars %}
        <p> Brad: {{ car.Brand }}</p>
        <p> Production year: {{ car.Production_year }}</p>
        <p> Engine capacity: {{ car.Engine_capacity }}</p>
        <p>--------------------------</p>
    {% endfor %}
    <a href="{% url 'list of students' %}" class="btn btn-primary "> Go to list of students</a>
{% endblock %}
