{% extends 'base.html' %}
{% block title %} List of students {% endblock %}
{% block content %}
    <h1> List of students </h1>
    {% for student in all_students %}
        <p> {{ student.first_name }}</p>
        <p> {{ student.last_name }}</p>
        <p> {{ student.age }}</p>
        <p>--------------------------</p>
    {% endfor %}
    <a href="{% url 'my_cars' %}" class="btn btn-primary "> Go to list of cars</a>
{% endblock %}





