{% extends 'base.html' %}
{% block title %} Login  {% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% url 'password_reset' %}" class="btn btn-danger">Forgot your password?</a>
    </form>

{% endblock %}