{% extends 'base.html' %}
{% block title %} List of teachers {% endblock %}

{% block content %}
    <form method="get">
    {{ my_filter.form  }}
    <button type="submit" class="btn btn-success">Search</button>
    </form>
    <div class="row">
        {% for teacher in all_teachers %}
            <div class="card" style="width: 18rem; margin-right: 20px">
                <img src="#" class="card-img-top" alt="Poza">
                <div class="card-body">
                    <h5 class="card-title"> {{ teacher.first_name }} {{ teacher.last_name }} </h5>
                    <p class="card-text"> Specialization: {{ teacher.specialization }} </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'update-teacher' teacher.id %}" class="btn btn-primary"> Update </a>
                    <a href="{% url 'detail-teacher' teacher.id %}" class="btn btn-warning"> Details </a>
                    <a href="{% url 'delete-teacher' teacher.id %}" class="btn btn-danger"> Delete </a>

                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}