{% extends 'base.html' %}
{% block title %}Create user {% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
{#        {% for field in form %}#}
{#            {% if field.label == 'Password' %}#}
{#            <div class="mb-3">#}
{#              <label for="exampleFormControlInput1" class="form-label">{{ field.label }}</label>#}
{#              {{ field  }}#}
{#            </div>#}
{#            {% else %}#}
{#                {{ field }}#}
{#            {% endif %}#}
{#        {% endfor %}#}

    <button type="submit" class="btn btn-success">Register user </button>
    </form>

{% endblock %}